<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.8.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.8.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="4.0.1" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.6.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.6.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="120.0.2210.144" targetFramework="net48" />
</packages>